<div class="questionIntro">
  <h2>{{name}}! Would you rather ...</h2>
</div>
<div class="gameView">
  <div class="questionOne">
    <a href="{{option1url}}">
      <p>{{option1}}</p>
    </a>
  </div>
  <h2>OR</h2>
  <div class="questionTwo">
    <a href="{{option2url}}">
      <p>{{option2}}</p>
    </a>
  </div>
</div>

<div class="afterQuestions">
  <div class="cantchoose">
    <a href="{{cantchooseurl}}">
      <p>{{cantchoose}}</p>
    </a>
  </div>
  <div class="taunt">
    <p>{{taunt}}</p>
  </div>
</div>

<div class="footer">
  <div class="ranking">
    <p><a href="{{rankingurl}}">Rankings</a></p>
  </div>
  <div class="reset">
    <p><a href="/">Reset Game</a></p>
  </div>
</div>
