<div class="questionIntro">
  <h2>{{name}}! Would you rather ...</h2>
</div>
<div class="gameView">
  <a href="{{option1url}}">
    <div class="questionOne">
      <p>{{option1}}</p>
    </div>
  </a>
  <h2>OR</h2>
  <a href="{{option2url}}">
    <div class="questionTwo">
      <p>{{option2}}</p>
    </div>
  </a>
</div>

<div class="afterQuestions">
  <div class="taunt">
    <p>{{taunt}}</p>
  </div>
  <div class="cantchoose">
    <a href="{{cantchooseurl}}">
      <p>{{cantchoose}}</p>
    </a>
  </div>
<!-- <p> </p> -->
</div>

<div class="footer">

  <a href="{{rankingurl}}">
    <div class="ranking">Rankings</div>
  </a>


  <a href="/">
    <div class="reset">Reset Game</div>
  </a>

</div>
