<div class="questionIntro">
  <h2>{{name}}! Would you rather ...</h2>
</div>
<div class="gameView">
  <div class ="questionOne">
    <a href="{{option1url}}">{{option1}}</a>
  </div>
  <h2>OR</h2>
  <div class="questionTwo">
    <a href="{{option2url}}">{{option2}}</a>
  </div>
  <div>
    <p><a href="{{rankingurl}}">Rankings</a></p>
  </div>
  <a class="nav" href="/">Reset Game</a>
</div>
